<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/login.css') }}" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>

<main class="auth-box">
    <div class="card p-5">
        <div class="card-body">
            <div class="text-center mb-4">
                <h1 class="mt-2"> Forgot Password?</h1>
                <p class="mt-1">Enter your email and we'll send you a reset link. </p>
            </div>
            {% include 'auth/show-error-message.html' %}
            <form action="" class="g-3" method="post">
                <div class="mb-3">
                    <input
                            type="email"
                            class="form-control {{ form.email.has_error and 'is-invalid' }}"
                            name="{{form.email.name}}"
                            value="{{form.email.value}}"
                            placeholder="Email"
                    >
                    {% if form.email.errors %}
                    <div class="invalid-feedback">
                        {{- form.email.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="d-grid gap-2  mx-auto ">
                    <button type="submit" class=" btn btn-primary btn-login">Reset</button>
                </div>
                <div class="text-center mt-2">
                    <a href="{{ url_for('operator_form_controller.login') }}" class="text-decoration-none">Back to Login</a>
                </div>
            </form>
        </div>
    </div>

</main>

</body>
</html>