<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/login.css') }}" rel="stylesheet">
    <title>Login</title>
</head>
<body>

<main class="auth-box">
    <div class="card p-5">
        <div class="card-body">
            <div class="text-center mb-5">
                <h1 class="mt-2">{{data.name}}</h1>
            </div>
            {% include 'auth/show-error-message.html' %}
            <form action="" class="g-3" method="post">
                <div class="mb-3">
                    {% if data.identifier == "email" %}
                    <input
                            type="email"
                            class="form-control {{ form.identifier.has_error and 'is-invalid' }}"
                            name="{{form.identifier.name}}"
                            value="{{form.identifier.value}}"
                            placeholder="Email"
                    >
                    {% else %}
                    <input
                            type="text"
                            class="form-control {{ form.identifier.has_error and 'is-invalid' }}"
                            name="{{form.identifier.name}}"
                            value="{{form.identifier.value}}"
                            placeholder="Username"
                    >
                    {% endif %}
                    {% if form.identifier.errors %}
                    <div class="invalid-feedback">
                        {{- form.identifier.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-1">
                    <input
                            type="password"
                            name="{{form.password.name}}"
                            value="{{form.password.value}}"
                            class="form-control {{ form.password.has_error and 'is-invalid' }}"
                            placeholder="Password"
                    >
                    {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {{- form.password.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3 d-flex align-items-center justify-content-between">
                    <div>
                        <input type="checkbox" class="form-check-input me-2">
                        <label class="form-check-label" >Remember me</label>
                    </div>

                    <div>
                        <a href="{{url_for('operator_form_controller.forgot_password')}}" class=" text-decoration-none">Forgotten password?</a>
                    </div>

                </div>
                <div class="text-center d-grid gap-2  mx-auto">
                    <button type="submit" class="btn btn-primary btn-login">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>