<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/login.css') }}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>

<main class="auth-box">
    <div class="card p-5">
        <div class="card-body">
            {% if error %}
                <div class="text-center">
                    <h2>Invalid Token!</h2>
                    <p>{{message}}</p>
                    <a href="{{ url_for('operator_form_controller.forgot_password') }}" class="btn btn-primary">Reset Password</a>
                </div>
            {% else %}
                <div class="text-center">
                    <h2 class="mb-3">{{message}}</h2>
                    <a href="{{ url_for('operator_form_controller.login') }}" class="btn btn-primary">Login</a>
                </div>
            {% endif %}
        </div>
    </div>

</main>

</body>
</html>