<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('operator_form_controller.static', filename='assets/css/login.css') }}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>

<main class="login-form">
    <div class="card p-5">
        <div class="card-body">
            <div class="text-center mb-4">
                <h1 class="mt-2">Reset Password</h1>
            </div>
            <form action="" class="g-3" method="post">
                <div class="mb-3">
                    <input
                            type="password"
                            name="{{form.newPassword.name}}"
                            value="{{form.newPassword.value}}"
                            class="form-control {{ form.newPassword.has_error and 'is-invalid' }}"
                            placeholder="New Password"
                    >
                    {% if form.newPassword.errors %}
                    <div class="invalid-feedback">
                        {{- form.newPassword.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <input
                            type="password"
                            name="{{form.confirmPassword.name}}"
                            value="{{form.confirmPassword.value}}"
                            class="form-control {{ form.confirmPassword.has_error and 'is-invalid' }}"
                            placeholder="Confirm Password"
                    >
                    {% if form.confirmPassword.errors %}
                    <div class="invalid-feedback">
                        {{- form.confirmPassword.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="d-grid gap-2  mx-auto ">
                    <button type="submit" class=" btn btn-primary btn-login">Set Password</button>
                </div>

            </form>
        </div>
    </div>

</main>

</body>
</html>